/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
}

header h1 {
    color: #bb86fc; /* Roxo vibrante */
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

section {
    background-color: #1e1e1e; /* Cinza escuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333; /* Bordas mais escuras */
    border-radius: 5px;
    font-size: 16px;
    background-color: #1e1e1e; /* Fundo cinza escuro */
    color: #e0e0e0; /* Texto claro */
}

input[type="button"] {
    background-color: #03dac6; /* Verde-água */
    color: #121212; /* Texto escuro */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #018786; /* Verde-água mais escuro */
}

#res {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #e0e0e0; /* Texto claro */
    background-color: #333; /* Fundo intermediário */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

/* Estilo do rodapé */
footer {
    margin-top: 20px;
    font-size: 14px;
    color: #bb86fc; /* Roxo vibrante */
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    section {
        padding: 15px;
    }

    input[type="number"], input[type="button"] {
        padding: 8px;
        font-size: 14px;
    }

    #res {
        font-size: 16px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 20px;
    }

    footer {
        font-size: 12px;
    }
}
